body {
    font-family: HelveticaNeue-Light, Helvetica, Arial, sans-serif;
    font-size: larger;
    color: #444;
    background: #EFEFEF;
    margin: 0;
}

header {
    background: #2f3a6d;
    color: white;
    padding: 1em 5%;
}

main {
    margin: 1em 10%;
}

input[type="text"], input[type="password"] {
    width: 100%;
    box-sizing: border-box;
    font-size: 1em;
    padding: 0.3em 1em;
    display: block;
}

footer {
    margin: 1em;
    font-size: 0.8em;
    font-style: italic;
    color: #999;
    text-align: center;
}