body {
    font-family: HelveticaNeue-Light, Helvetica, Arial, sans-serif;
    font-size: larger;
    color: #444;
    background: #EFEFEF;
    margin: 0;
}

header {
    background: #2f3a6d;
    color: white;
    padding: 1em 5%;
}

main {
    margin: 1em 10%;
}

input[type="text"], input[type="password"] {
    width: 100%;
    box-sizing: border-box;
    font-size: 1em;
    padding: 0.3em 1em;
    display: block;
}

footer {
    margin: 1em;
    font-size: 0.8em;
    font-style: italic;
    color: #999;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background: white;
    display: block;
    text-align: center;
}

nav li {
    display: inline-block;
}

nav a {
    display: block;
    text-decoration: none;
    color: #005;
    padding: 0.5em 1em;
    transition: all 0.5s;
}

nav a:hover {
    color: red;    
}

@media screen and (max-width:460px) {
    header h1 {
        font-size: 1.5em;
    }
}